<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="min-w-full bg-zinc-900 min-h-screen">
       <div class="form p-10 text-white" >
        <form action="/create" method="post" ,>
            <div class="title ">
               <input class="w-full px-5 py-2 rounded-lg bg-zinc-700 outline-none" name="title" type="text" placeholder="Title goes here">
            </div>
            <div class="text">
                <textarea class="px-5 py-2 w-full rounded-lg mt-2 bg-zinc-700 resize-none outline-none" name="details" id="" rows="6" placeholder="Enter detail your task"></textarea>
            </div>
            <div class="">
                <input class="px-5 py-2 mt-2 rounded-lg bg-blue-600" type="submit" value="Add Tasks">
            </div>
        </form>
       </div>
       <div class="task p-10 flex gap-4 flex-wrap">
        <% if(files.length>0){ %>
            <%  files.forEach( (element) => { %>
            <div class="card  min-w-72 px-5 py-3 rounded-lg bg-zinc-700 ">
                <h1 class="text-3xl tracking-tight"><%=element%></h1>
                <a class="text-blue-500 mt-3 inline-block" href="/file/<%=element%>">Read more..</a>
            </div>
      <%  }); %>
      <%  } else{ %>
                <h1 class="text-gray-500">No Tasks yet...</h1>
     <% } %>
       
       </div>
    </div>
</body>
</html>